<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="drugs">
      <ion-icon name="bandage-outline"></ion-icon>
      <ion-label>Drugs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patients">
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="treatments">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Treatments</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
