<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="this.routeDestination + 'drugs'"></ion-back-button>
        </ion-buttons>
        <ion-title>Nearest pharmacies</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="nearestPharmacies && nearestPharmacies.length > 0 else elseBlock" class="ion-padding ion-justify-content-around">
        <ion-row>
            <h3>{{nearestPharmacies[0].Drug.genericName}} - {{nearestPharmacies[0].Drug.brandName}}</h3>
        </ion-row>
            <ion-item *ngFor="let item of nearestPharmacies" class="ion-margin-vertical">
                <ion-col>
                    <div class="ion-text-end">
                        <small class="ion-text-end" style="font-family: 'David Libre'">Last sync:
                            {{item.updatedAt | date:'dd/MM/yyyy'}}</small>
                    </div>
                    <ion-row class="ion-justify-content-between ion-align-items-center ion-padding">
                        <div>
                            <a [routerLink]="this.routeDestination + 'pharmacies/' + item.Pharmacy.id"><b>{{item.Pharmacy.name}}</b> </a>
                            <br>
                            <small>
                                {{item.Pharmacy.address}}
                            </small>
                        </div>
                    </ion-row>
                    <div class="ion-align-items-end ion-justify-content-end">
                        <small class="ion-padding">Distance: {{item.distance.toFixed(2)}} Kilometers</small>

                        <ion-button class="ion-float-end" href="https://www.google.com/maps?q={{item.Pharmacy.latitude}},{{item.Pharmacy.longitude}}" fill="outline">Maps</ion-button>

                    </div>
                </ion-col>
            </ion-item>
    </ion-grid>
    <ng-template #elseBlock>There are no pharmacies with this drug.</ng-template>
</ion-content>
