<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pharmacist-tabs/patients"></ion-back-button>
        </ion-buttons>
        <ion-title>Patients</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="ioncontent">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <form [formGroup]="createPatientForm" novalidate>

                <ion-col size-lg="8">
                    <div class="ion-text-center">
                        <h3>Create new patient</h3>
                    </div>
                    <div>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="firstName" type="text" placeholder="First Name:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="lastName" type="text" placeholder="Last Name:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="weight" type="number" placeholder="Weight:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="height" type="number" placeholder="Height:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-label>Birth date</ion-label>
                            <ion-datetime formControlName="birthDate" displayFormat="DD/MM/YYYY"
                                          placeholder="Select Date"></ion-datetime>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="phone" type="tel" placeholder="Phone:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-radio-group formControlName="gender" class="">
                                <ion-row>
                                    <ion-item>
                                        <ion-label>Male</ion-label>
                                        <ion-radio slot="end" value="M"></ion-radio>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Female</ion-label>
                                        <ion-radio slot="end" value="F"></ion-radio>
                                    </ion-item>
                                </ion-row>
                            </ion-radio-group>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="TIS" type="text" placeholder="TIS:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="city" type="text" placeholder="City:"></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input formControlName="DNI" type="text" placeholder="DNI:"></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" (click)="submitForm()" expand="block">Submit</ion-button>
                    </div>
                </ion-col>
                <div id="userContent" *ngIf="!valid">
                    <ion-text color="danger" class="ion-text-center">
                        <h5>Some of the fields are missing</h5>
                    </ion-text>
                </div>
            </form>

        </ion-row>
    </ion-grid>
</ion-content>
