<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pharmacist-tabs/drugs"></ion-back-button>
        </ion-buttons>
        <ion-title>Medicines</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8">
                <div class="ion-text-center">
                    <h3>Filtered drugs</h3>
                </div>

                <ion-grid *ngIf="data.length > 0 else elseBlock" style="border: 10px; border-radius: 5px;">

                    <ion-row *ngFor="let item of data" class="ion-padding-horizontal ion-margin-vertical"
                             style="background-color: #2a2a2a; border-radius: 5px;">
                        <ion-col>
                            <ion-row class="ion-justify-content-between ion-align-items-center ion-padding">
                                <div>
                                    <ion-label>
                                        <a [routerLink]="[item.id]">
                                            <b>{{item.brandName}} - {{item.genericName}}</b>
                                        </a>
                                    </ion-label>
                                    <br>
                                </div>
                            </ion-row>
                            <ion-row class="ion-justify-content-between ion-align-items-center">

                                <small *ngIf="item.PharmacyDrugs.length === 0; else availableBlock"
                                       class="ion-padding-horizontal">Not available
                                    <ion-icon color="danger" name="remove-circle-sharp"></ion-icon>
                                </small>
                                <ng-template #availableBlock><small class="ion-padding-horizontal">Available
                                    <ion-icon color="success" name="add-circle-outline"></ion-icon>
                                </small></ng-template>
                                <div class="location-widget">
                                    <a [routerLink]="['/available-drugs/drugs/' + item.id]">Check </a>
                                    <ion-icon name="location-outline"></ion-icon>
                                </div>
                            </ion-row>
                        </ion-col>
                    </ion-row>

                </ion-grid>
                <ng-template #elseBlock>There are no drugs that meets specified criteria.</ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

