a {
  text-decoration: none;
  color: white;
}
//
//a:hover {
//  background-color: #86888f;
//  cursor: pointer;
//}

.cell-class {
  border-color: black;
  border-width: .01em;
  border-style: solid;
  margin-bottom: -1px;
  background-color: lightgrey
}

.location-widget {
  background-color: rgba(93, 147, 210, 0.87);
  padding: 6px;
  border-radius: 5px;
}
