<ion-header>
  <ion-toolbar>
    <ion-title>Treatments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Next Treatments
    </ion-list-header>

    <ion-item>
      <div class="unread ion-margin-horizontal"></div>
      <ion-label>
        <h2>Paracetamol - Juan Lopez</h2>
        <h3>19.09.2020. - 14:00</h3>
        <p>250mg pill</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div class="unread ion-margin-horizontal"></div>
      <ion-label>
        <h2>Ibuprofen - John Williams</h2>
        <h3>20.09.2020. - 13:00</h3>
        <p>100mg before and after lunch</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <div class="unread ion-margin-horizontal"></div>
      <ion-label>
        <h2>Insulin glulisine - Nora Antucho</h2>
        <h3>24.09.2020. - 20:00</h3>
        <p>100mg - 30 minutes before eating</p>
      </ion-label>
    </ion-item>

<!--    <ion-item>-->
<!--      <div class="unread ion-margin-horizontal"></div>-->
<!--      <ion-label>-->
<!--        <h2>Ibuprofen - John Williams</h2>-->
<!--        <h3>20.09.2020. - 13:00</h3>-->
<!--        <p>100mg before and after lunch</p>-->
<!--      </ion-label>-->
<!--    </ion-item>-->

  </ion-list>
</ion-content>
