<ion-header>
    <ion-toolbar>
        <ion-title>Patient information</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-padding ion-justify-content-around">
        <ion-list *ngIf="patientData">
            <ion-row class="ion-padding ion-margin">
                <ion-col>First name:</ion-col>
                <ion-col>{{patientData.firstName}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Last name:</ion-col>
                <ion-col>{{patientData.lastName}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Weight:</ion-col>
                <ion-col>{{patientData.weight}} kg</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Height:</ion-col>
                <ion-col>{{patientData.height}} cm</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Birth date:</ion-col>
                <ion-col>{{patientData.birthDate | date:'dd/MM/yyyy'}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Gender:</ion-col>
                <ion-col>{{patientData.gender}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>Phone:</ion-col>
                <ion-col>{{patientData.phone}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>TIS:</ion-col>
                <ion-col>{{patientData.TIS}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>City:</ion-col>
                <ion-col>{{patientData.city}}</ion-col>
            </ion-row>
            <ion-row class="ion-padding ion-margin">
                <ion-col>DNI:</ion-col>
                <ion-col>{{patientData.DNI}}</ion-col>
            </ion-row>
            <ion-row *ngIf="isPharmacist() else elseBlock" class="ion-padding ion-margin">
                <ion-col>Caretakers:</ion-col>
                <ion-button (click)="displayMod()" size="small" class="ion-padding-horizontal">View all</ion-button>
            </ion-row>
            <ng-template class="ion-align-self-end" #elseBlock>
                <ion-button (click)="addTreatmentModal()" class="ion-float-end ion-padding-horizontal">Add treatment</ion-button>
            </ng-template>
        </ion-list>
    </ion-grid>
</ion-content>
