<ion-header>
    <ion-toolbar>
        <ion-title>
            Caretakers
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-grid class="ion-padding-horizontal">
        <ion-row class="ion-text-uppercase ion-padding">
            <ion-col class="">
                Name
            </ion-col>
            <ion-col class="">
                Date From:
            </ion-col>
            <ion-col class="">
                Date To:
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let caretaker of patientCaretakers" class="ion-margin-vertical cell-class ">
            <ion-col class="ion-padding ">
                {{caretaker.firstName}} {{caretaker.lastName}}
            </ion-col>
            <ion-col class="ion-padding ">
                {{caretaker.PatientCaretaker.dateFrom | date:'dd/MM/yyyy'}}
            </ion-col>
            <ion-col class="ion-padding ">
                {{caretaker.PatientCaretaker.dateTo | date:'dd/MM/yyyy'}}
            </ion-col>
            <ion-col class="ion-align-self-end">
                <ion-button (click)="detachCaretaker(caretaker.id)" class="ion-float-end" size="small">Finish</ion-button>
            </ion-col>
        </ion-row>
        <ion-item class="ion-margin-vertical">
            <ion-label>New caretaker</ion-label>
            <ion-select placeholder="Select caretaker" [(ngModel)]="newCaretakerId">
                <ion-select-option *ngFor="let caretaker of allCaretakers"
                                   [value]=caretaker.id>{{caretaker.firstName}} {{caretaker.lastName}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button (click)="submitNewCaretaker()" class="ion-float-end" size="small">Add caretaker</ion-button>
    </ion-grid>
</ion-content>
