<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pharmacist-tabs/filtered-drugs"></ion-back-button>
        </ion-buttons>
        <ion-title>Drug details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>{{theDrug?.brandName}}</ion-card-subtitle>
                <ion-card-title>{{theDrug?.genericName}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-row class="ion-justify-content-start">
                    <ion-col size="8" *ngIf="theDrug?.drugPdf">
                        <ion-button size="small" fill="outline" (click)="openPdfSystem()">Link to the document
                        </ion-button>
                    </ion-col>
                    <ion-col size="8">
                        <p size="8">Manufacture year: {{theDrug?.year}}</p>
                    </ion-col>
                    <ion-col size="8">
                        <p size="8">Drug class: {{theDrug?.DrugClass.name}}</p>
                    </ion-col>
                    <ion-col size="8">
                        <p size="8">Shape: {{theDrug?.Shape.name}}</p>
                    </ion-col>

                </ion-row>
                <ion-row class="ion-align-items-center ion-justify-content-between">
                    <ion-badge color="medium" class="ion-margin"
                               *ngFor="let tag of theDrug?.Tags">{{tag.name}}</ion-badge>
                    <!--                    <ion-badge color="medium" class="ion-margin">Hypertension</ion-badge>-->
                    <!--                    <ion-badge color="medium" class="ion-margin">Asthma</ion-badge>-->
                </ion-row>
                <div *ngIf="hasPharmacy()">
                    <ion-row class="ion-align-items-center">
                        <ion-button expand="block" color="light">Stock: {{stock}}</ion-button>
                        <ion-button (click)="modifyStock(false)" expand="block" size="small" color="light">-</ion-button>
                        <ion-col size="5">
                            <ion-input id="stockValue" [(ngModel)]="stockValue" type="number" placeholder="Value"></ion-input>
                        </ion-col>
                        <ion-button (click)="modifyStock(true)" expand="block" color="light" size="small">+</ion-button>
                    </ion-row>
                </div>
            </ion-card-content>

        </ion-card>

        <ion-card>
            <ion-card-content id="hoho">
                <ion-card-header>
                    <ion-card-title>About Drug</ion-card-title>
                </ion-card-header>
                {{theDrug?.aboutDrug}}
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
