<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="goBack()" default-href="#"></ion-back-button>
        </ion-buttons>
        <ion-title>Pharmacy</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-align-items-center">
    <ion-card *ngIf="pharmacy">
        <ion-item>
            <ion-card-header>
                <ion-card-title>{{pharmacy.name}}</ion-card-title>
                <ion-card-subtitle>{{pharmacy.address}}</ion-card-subtitle>
            </ion-card-header>
        </ion-item>

        <agm-map [latitude]="pharmacy.latitude" [longitude]="pharmacy.longitude" [zoom]="zoom">
            <agm-marker [latitude]="pharmacy.latitude" [longitude]="pharmacy.longitude"></agm-marker>
        </agm-map>

        <ion-card-content>
            <ion-row class="ion-justify-content-start ion-align-items-center">
                <ion-col size="2">
                    <ion-icon size="large" color="primary" name="timer-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-row class="ion-justify-content-between">
                        <h3>Mon-Fri:</h3>
                        <h3>Open 24 hours</h3>
                    </ion-row>
                    <ion-row class="ion-justify-content-between">
                        <h3>Sat:</h3>
                        <h3>07:00 - 20:00</h3>
                    </ion-row>
                    <ion-row class="ion-justify-content-between">
                        <h3>Sun:</h3>
                        <h3>Not working</h3>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row class="ion-margin-vertical ion-justify-content-center ion-align-items-center">
                <ion-col size="2">
                    <ion-icon size="large"  color="primary" name="call-outline"></ion-icon>
                </ion-col>
                <ion-col>
                    <h4>{{pharmacy.contact_phone}}</h4>
                </ion-col>
            </ion-row>
                <ion-row class="ion-margin-vertical ion-justify-content-start ion-align-items-center">
                    <ion-col size="2">
                        <ion-icon size="large" color="primary" name="mail-outline"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <h4>{{pharmacy.contact_mail}}</h4>
                    </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
