<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-searchbar class="ion-margin-vertical" type="text" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>

    </ion-toolbar>
</ion-header>

    <ion-row class="ion-justify-content-between ion-padding-horizontal">
        <h3>Patient</h3>
        <h3>DNI</h3>
    </ion-row>

<ion-content>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8">
                <ion-list *ngIf="patients?.length > 0 else elseBlock">
                        <ion-item *ngFor="let item of patients">
                            <a [routerLink]="[item.id]">
                                {{item.firstName}} {{item.lastName}}
                            </a>
                            <ion-label slot="end">
                                <h4 class="ion-float-end">{{item.DNI}}</h4>
                            </ion-label>
                        </ion-item>
                </ion-list>
                <ng-template #elseBlock>There are no patients in database.</ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col *ngIf="isPharmacist()" class="ion-text-center">
                <a [routerLink]="['create']">
                    <ion-icon name="add-circle"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
