<ion-header>
    <ion-toolbar>
        <ion-title>Medicines</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-lg="8">
                <div class="ion-text-center">
                    <h3>Search for a medicine</h3>
                </div>
                <div>
                        <ion-item class="ion-margin">
                            <ion-input name="name" type="text" placeholder="Generic Name" [(ngModel)]="data.genericName" required></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-input name="email" type="email" placeholder="Brand name" [(ngModel)]="data.brandName" required></ion-input>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-datetime placeholder="Pick a year" displayFormat="YYYY" min="1900"
                                          max="2020" [(ngModel)]="data.year"></ion-datetime>
                        </ion-item>
                        <ion-item class="ion-margin">
                            <ion-select multiple placeholder="Tags" [(ngModel)]="data.Tags">
                                <ion-select-option *ngFor="let tag of allTags" [value]=tag.id>{{tag.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    <ion-item class="ion-margin">
                        <ion-select multiple placeholder="Drug Class" [(ngModel)]="data.DrugClasses">
                            <ion-select-option *ngFor="let drugClass of allDrugClasses" [value]=drugClass.id>{{drugClass.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="ion-margin">
                        <ion-select multiple placeholder="Shape" [(ngModel)]="data.Shapes">
                            <ion-select-option *ngFor="let shape of allShapes" [value]=shape.id>{{shape.name}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div padding>
                    <ion-button size="large" (click)="sendForm()" expand="block">Search</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
