<ion-header>
    <ion-toolbar>
        <ion-title>
            Add treatment
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
            <ion-item>
                <ion-label>Select date and time of notification</ion-label>
                <ion-datetime displayFormat="D MMM YYYY H:mm" min="2020" max="2021"
                              [(ngModel)]="data.notificationDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Header:</ion-label>
                <ion-input name="header" type="text" placeholder="Text" [(ngModel)]="data.header" required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Message:</ion-label>
                <ion-input name="header" type="text" placeholder="Text" [(ngModel)]="data.message" required="true"></ion-input>
            </ion-item>
            <ion-button size="large" (click)="sendForm()" expand="block">Submit</ion-button>

        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-input name="title" type="text" placeholder="Title" [(ngModel)]="data.title" required></ion-input>-->
        <!--          </ion-item>-->
        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-input name="text" type="text" placeholder="Text" [(ngModel)]="data.text" required></ion-input>-->
        <!--          </ion-item>-->
        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-datetime placeholder="Pick a year" displayFormat="YYYY" min="1900"-->
        <!--                          max="2020" [(ngModel)]="data.year"></ion-datetime>-->
        <!--          </ion-item>-->
        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-select multiple placeholder="Tags" [(ngModel)]="data.Tags">-->
        <!--              <ion-select-option *ngFor="let tag of allTags" [value]=tag.id>{{tag.name}}</ion-select-option>-->
        <!--            </ion-select>-->
        <!--          </ion-item>-->
        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-select multiple placeholder="Drug Class" [(ngModel)]="data.DrugClasses">-->
        <!--              <ion-select-option *ngFor="let drugClass of allDrugClasses" [value]=drugClass.id>{{drugClass.name}}</ion-select-option>-->
        <!--            </ion-select>-->
        <!--          </ion-item>-->
        <!--          <ion-item class="ion-margin">-->
        <!--            <ion-select multiple placeholder="Shape" [(ngModel)]="data.Shapes">-->
        <!--              <ion-select-option *ngFor="let shape of allShapes" [value]=shape.id>{{shape.name}}</ion-select-option>-->
        <!--            </ion-select>-->
        <!--          </ion-item>-->
        <!--        </div>-->
        <!--        <div padding>-->
        <!--        </div>-->
        <!--      </ion-col>-->
        <!--    </ion-row>-->
    </ion-grid>
</ion-content>

